@charset "UTF-8";

/* Paleta de cores:
VD: #049a09d
Lilás: #5f2c82 */

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box; /* faz c/ que a borda faça parte do objeto pois, por padrão, a conta do tamanho é da borda interna */
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; 
    /* tudo q tiver fora da borda da <section> não será mostrado - necessário na imag. d fundo - metal.jpeg  */

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.502);
}

section#login > div#imagem {
    display: block;
    height: 200px; /* altura da área da imagem d fundo */
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}